.audio-player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.audio-player svg path {
  fill: #ff5722;
}

.audio-player svg {
  cursor: pointer;
}

.audio-player-title {
  position: absolute;
  top: -2rem;
  font-family: 'Mitr', cursive;
  text-transform: uppercase;
  color: #ff5722;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 1rem;
}

.audio-elements-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 1em;
}

.play-stop {
  display: flex;
}

.prev-next {
  display: flex;
  justify-self: flex-end;
}

.audio-duration-wrapper {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 200px;
  top: 100%;
}

.audio-duration-wrapper:hover .audio-duration {
  height: 10px;
}

.audio-duration-wrapper:hover .audio-duration-fill {
  background: #f13535;
}

.audio-duration {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: #222;
  transition: all 200ms ease-in-out;
}

.audio-duration-fill {
  position: absolute;
  background: #ff5722;
  height: 100%;
  width: 0%;
  transition: width 200ms ease-in-out;
}

.audio-element {
  width: 30px;
  margin-right: 0.5rem;
  transition: all 200ms ease-in-out;
}

.audio-element svg path,
.audio-element svg g {
  fill: #ff5722;
  transition: all 100ms ease-in-out;
}

.audio-element:hover svg path,
.audio-element:hover svg g {
  fill: #f13535;
}

.audio-element.not-visible {
  opacity: 0.2;
  pointer-events: none;
}

.audio-element:last-child {
  margin-right: 0;
}

.audio-enter {
  opacity: 0;
  transform: scale(0.9);
}
.audio-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.audio-exit {
  opacity: 1;
}
.audio-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@media only screen and (max-device-width: 480px) {
  .audio-elements-container,
  .audio-duration-wrapper {
    width: 100%;
  }

  .audio-element:hover svg path,
  .audio-element:hover svg g {
    fill: inherit;
  }

  .audio-duration-wrapper {
    margin-top: 0.5rem;
  }

  .audio-duration-wrapper:hover .audio-duration-fill {
    background: #ff5722;
  }

  .audio-element {
    margin-right: 1rem;
  }

  .audio-duration {
    height: 10px;
  }
}
