.video-container {
  margin-bottom: 4em;
  display: flex;
  /* align-items: center; */
}

.video-info-container {
  background: #333;
  padding: 1em 2em;
}

.video-player {
  /* margin-right: 2em; */
}

.video-date {
  margin-bottom: 1em;
  font-weight: bold;
}

.video-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  .video-container {
    display: flex;
    flex-direction: column;
  }

  .video-container img {
    margin: auto;
    display: block;
    margin-bottom: 1em;
  }
}
